.app-container {
  width: 100%;
  padding-bottom: 3rem;
}

@media (min-width: 1024px) {
  .app-container {
    display: grid;
    grid-template-columns: 2.5fr 4fr 2.5fr;
    grid-gap: 50px;
  }
  .hide-on-lg {
    display: none;
  }
}
